$text-font: Helvetica, sans-serif;
$text-white: hsl(0, 0%, 100%);
$title-color: hsl(0, 0, 60%);
$text-color: hsl(0, 0%, 40%);
$button-color: hsl(0, 0%, 56%);
$bg-header:hsl(0, 0%, 80%);
$bg-2: hsl(0, 0%, 95%);
$bg-3: rgb(229, 229, 229);
$bg-4: hsl(0, 0%, 70%);
$bg-5: hsl(0, 0%, 52%);
$menu-size: 16px;

$breakpoints: (
  'small': (max-width: 480px),
  'medium': (max-width: 768px),
  'large': (max-width: 970px),
  'huge': (max-width: 1440px),
);

@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
  
    @if $raw-query {
      $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
      );
  
      @media #{$query} {
        @content;
      }
    } @else {
      @error 'No se ha encontrado un valor para `#{$breakpoint}`. '
           + 'Por favor, asegúrate que está definido en el mapa `$breakpoints`.';
    }
  }

@mixin flex($orientation: row, $justify: center, $align: center, $wrap: nowrap){
    display: flex;
    flex-direction: $orientation;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin blank-space{
    margin-bottom: 3px;
}
@mixin btn($type, $color){
    border: none;
    background-color: $color;
    color: $text-white;
    cursor: pointer;
    @if $type == 1{
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 7px;
        padding: 7px 9px;
    }@else if $type == 2{
        font-size: 17px;
        border-radius: 8px;
        padding: 5px 20px;
    }@else if $type == 3{
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        border-radius: 5px;
        padding: 4px 9px;
    }
}
@mixin content($full: 0){
    @if $full == 1{
        width: 100%;
    }@else if $full == 2{
        margin: 0 30px;
    }@else{
        width: 941px;
    }
}
@mixin section-componets{
    @include blank-space;
    @include flex(row, center, center);
    padding: 60px 0;
}

button{
    @include btn(1, $button-color);
}

body{
    font-family: $text-font;
    margin: 0;
}

@mixin menu-transition($duration: 0.4s){
    transition: all $duration ease-out;
}

.header{
    background-color: $bg-header;
    @include flex(column, stretch, stretch);
    @include blank-space;
    span{
        margin: 30px 60px 30px 0;
        font-size: 32px;
        display: none;
        color: white;
        @include respond-to('large'){
            display: inline-flex;
            @include flex(row, flex-end, center);
        }

    }
    .navbar{
        @include flex(column, center, center);
        @include menu-transition(0.1s);
        @include respond-to('large'){
            height: 0;
            overflow: hidden;
        }
        .nav-menu{
            @include content;
            @include flex(row, space-between, center);
            padding: 0;
            margin: 18px 0 14px 0;
            height: inherit;
            @include respond-to('large'){
                @include content(1);
                @include flex(column, center,stretch);
                text-align: center;
                margin: 0;
                order: 1;
            }
            li{
                list-style: none;
                color: white;
                font-weight: 100;
                font-size: 15.5px;
                @include respond-to('large'){
                    padding: 10px;
                    &:hover{
                        background-color: $button-color;
                    }
                }
            }
            .right{
                @include flex(row, flex-end, center);
                margin-left: 12%;
                @include respond-to('large'){
                    @include flex(row, center, center);
                    margin: 0;
                }
            }
        }
    }
    .responsive{
        @include respond-to('large') {
            height: 360px;
        }
    }
}

.bg-2{
    @include blank-space;
    background-color: $bg-2;
    height: 240px;
}

.bg-3{
    @include section-componets;
    background-color: $bg-3;
    h1{
        color: $title-color;
        font-size: 29px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        @include respond-to('large'){
            text-align: center;
        }
    }

    .content{
        @include content;
        @include flex(row, space-between, stretch);

        @include respond-to('large'){
            @include content(2);
            @include flex(column, center, center);
        }

        div{
            @include flex(column, space-between, flex-start);
        }

        div:first-child{
            width: 58%;
            @include respond-to('large'){
                width: 100%;
                @include flex(column, center, center);
            }

            p{
                margin: 15px 0 20px 0;
                font-size: 15.5px;
                font-weight: 100;
                color: $text-color;
                line-height: 1.4em;
            }
        }
        div:last-child{
            width: 32%;
            color: $text-color;
            ul{
                margin-top: 20px;
                padding: 0;
                li{
                    list-style: none;
                    font-weight: 100;
                    font-size: 15px;
                    margin-bottom: 18px;
                    i{
                        margin: 0 7px;
                        color: $title-color;
                    }
                }
            }
            @include respond-to('large'){
                margin-top: 40px;
                width: 100%;
                @include flex(column, center, center);
            }
        }
        button{
            @include btn(2, $button-color);
        }
    }
}

.bg-4{
    @include section-componets;
    background-color: $bg-2;
    .content{
        @include content;
        @include flex(column, center, flex-start);
        @include respond-to('large'){
            @include flex(column);
        }
        h2{
            color: $title-color;
            font-size: 26px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .content-latest-news{
            @include flex(row, space-between, center);
            @include respond-to('large'){
                @include flex(column, center, center);
            }
            div{
                width: 32%;
                @include flex(column, center, flex-start);
                @include respond-to('large'){
                    @include flex(column);
                    width: 50%;
                    margin: 20px; 
                }
                img{
                    max-width: 100%;
                }
                p{
                    color: $text-color;
                    font-size: 14px;
                    line-height: 1.5em;
                    font-weight: 100;
                }
                button{
                    @include btn(3, $button-color);
                }
            }
        }
    }
}

.bg-5{
    @include flex(column, center, center);
    background-color: $bg-4;
    padding: 67px 0 40px 0;
    .content{
        @include content;
        @include flex(row, space-between, stretch);

        @include respond-to('large'){
            @include content(1);
            @include flex(column, center, center);
        }

        h2{
            padding: 0;
            margin: 0;
            color: hsl(0, 0%, 100%);
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 400;
        }

        .get-in-touch{
            width: 30%;
            @include flex(column, space-between, flex-start);
            @include respond-to('large'){
                @include flex(column, space-between, center);
            }
            .content-contact{
                @include flex(column, space-between, stretch);
                @include respond-to('large'){
                    margin-top: 20px;
                }
                .info-contact{
                    margin-top: 20px;
                    @include flex(row, flex-start, center);
                    .contact{
                        margin-left: 35px;
                        @include flex(column, center, flex-start);
                        span{
                            color: white;
                            margin-bottom: 5px;
                        }
                        a{
                            font-size: 15.5px;
                            font-weight: 100;
                            color: $text-color;
                            text-decoration: none;
                            font-style: italic;
                            border-bottom: 1px solid $button-color;
                        }
                    }
                }
            }
        }

        .latest-weather{
            width: 27%;
            @include flex(column, space-between, flex-start);
            @include respond-to('large'){
                margin-top: 50px;
                width: 100%;
                @include flex(column, space-between, center);
            }
            .content-weather{
                @include flex(column, space-between, stretch);
                margin-top: 20px;
                .weather{
                    margin-bottom: 25px;
                    @include flex(row, flex-start, center);

                    .info-weather{
                        margin-left: 25px;
                        @include flex(column, center, flex-start);

                        span{
                            color: hsl(0, 0%, 100%);
                            margin-bottom: 5px;
                        }
                        p{
                            margin: 0;
                            padding: 0;
                            color: $text-color;
                            font-size: 13.5px;
                            line-height: 1.5em;
                            font-weight: 100;
                        }
                    }
                }
            }
        }

        .where-to-find-us{
            @include flex(column, space-between, flex-start);
            @include respond-to('large'){
                margin-top: 50px;
                width: 100%;
                @include flex(column, space-between, center);
            }
            h2{
                margin-bottom: 20px;
            }
        }

    }
}

footer{
    @include flex(column, center, center);
    background-color: $button-color;
    padding: 67px 0 40px 0;
    .content{
        @include content;
        @include flex(row, space-between, center);
        @include respond-to('large'){
            @include content(2);
            @include flex(column, space-between, center);
        }

        span{
            color: $bg-header;
            font-size: 13.5px;
            font-weight: 100;
            @include respond-to('large'){
                text-align: center;
                margin-bottom: 15px;
            }
            b{
                font-weight: 100;
                margin-right: 5px;
            }
            a{
                color: hsl(0, 0%, 100%);
                text-decoration: none;
                margin-left: 5px;
                border-bottom: 1px solid hsl(0, 0%, 100%);
            }
        }
        div{
            @include flex(row, flex-end, center);
            img{
                margin-left: 10px;
                @include respond-to('large'){
                    margin: 0 5px;
                }
            }
        }
    }
}




